/* styles.css */

/* Reset básico */


* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #AE01AE, #000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  color: #eee;
  justify-content: center;
  /* centra horizontal */
  align-items: center;
  flex-direction: column;
}

.side_scroll {
  width: 320px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
}


.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  /* Puedes personalizar aquí el canvas de partículas si quieres */
}

.a_button_none {
  background-color: none;
}

.logo_mark img {
  position: fixed;
  display: block;
  top: 10px;
  left: 0;
  z-index: 1;
  height: auto;
  pointer-events: none;
  /* para que no interfiera con clicks */
  opacity: 1.0;
  border-radius: 15px;
}


.logo_mark_list img {
  top: 0;
  left: 0;
  z-index: 1;
  height: auto;
  pointer-events: none;
  /* para que no interfiera con clicks */
  opacity: 1.0;
}




.container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vh;
  height: auto;
  margin: 100px auto;
  padding: 50px 30px 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}










h1 {
  font-size: 42px;
  text-align: center;
  text-shadow: 0 0 10px #d8bfff;
}

p {
  font-size: 24px;
  text-align: center;
  text-shadow: 0 0 5px #a080d3;
  margin-bottom: 25px;
}


h2 {
  font-size: 36px;
  text-align: center;
  text-shadow: 0 0 10px #d8bfff;
}





.button_decoration_links_direct {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 16px 28px;
  background-color: #b300cede;
  border: 2px solid #3f2060;
  border-radius: 30px;
  margin: 40px 0 40px 0;
  transition: all 0.2s ease;
}

.button_decoration_links_direct:hover {
  background: #000;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  transform: scale(1.07);
}







.button_decoration {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 16px 28px;
  background-color: #b300cede;
  border: 2px solid #3f2060;
  border-radius: 30px;
  margin: 40px 0 40px 0;
  transition: all 0.2s ease;
}

.button_decoration:hover {
  background: #000;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  transform: scale(1.07);
}



.button_link_img {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.button_link_img li {
  display: inline-block;
}

.button_link_img a {
  display: inline-block;
  transition: all 0.2s ease;
}

.button_link_img a:hover {
  transform: scale(1.07);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.button_link_img img {
  width: 64px;
  height: 64px;
  display: block;
}




ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px 0px 0px 0px;
  align-items: center;
}

li {
  transition: transform 0.2s ease;
}

li:hover {
  transform: scale(1.07);
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin: 0px 10px;
  display: block;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.not_image_shadow_great {
  width: 254px;
  height: 254px;
  box-shadow: none;
}


.not_image_shadow_neutral {
  box-shadow: none;
}

.not_image_shadow {
  box-shadow: none;
}


.image_size {
  width: 48px;
  height: 48px;
}





.foster {
  display: flex;
  /* margin-top: 220px; */
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #cdb4db;
  border-top: 1px solid #6a0dad88;
  font-style: italic;
  justify-content: center;
}

.contair_list {
  background-color: #000000;
  padding: 3.4rem 0 3.4rem 0;
  width: 100%;
  margin-bottom: 8px;
}







/* Estilos generales para el contenedor de los iframes */
.bandcamp-player {
  display: flex;
  flex-direction: column;
  /* Colocamos los iframes en columna */
  gap: 20px;
  /* Espacio entre los iframes */
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* Estilos para cada iframe */
.bandcamp-iframe {
  border-radius: 0;
  /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Sombra para darle profundidad */
  transition: transform 0.1s ease, box-shadow 0.3s ease;
  /* Transiciones suaves */
  width: 100%;
  /* Hace que el iframe ocupe el 100% del contenedor */
  max-width: 700px;
  /* Limita el ancho máximo del iframe */
  height: 120px;
  /* Altura fija */
}

/* Efectos al pasar el mouse sobre el iframe */
.bandcamp-iframe:hover {
  transform: scale(1.05);
  /* Efecto de escala */
  box-shadow: 0 8px 20px rgba(212, 0, 255, 0.613);
  /* Sombra más intensa */
}




.image_select_view {
  width: 90%;
  max-width: 650px;
  height: auto;
  max-height: 512px;
}

.image_decoration_view {
  width: auto;
  max-width: 250px;
  height: 400px;
}



.container_game {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: rgba(53, 0, 52, 0.7);
  width: 65%;
  height: auto;
  place-items: center;
  margin: 20px auto;
  gap: 5px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}



.seccion1 {
  grid-column: span 1;
  grid-row: span 1;
}

.seccion2 {
  grid-column: span 3;
  grid-row: span 2;
}

.seccion3 {
  grid-column: span 1;
  grid-row: span 2;
}

.seccion4 {
  grid-column: span 1;
  grid-row: span 1;
}



.section_box_game {
  display: flex;
  background-color: rgb(160, 0, 188);
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 128px;
  /* margin: 0 20px 0 20px; */
}


.section_box_flex {
  display: flex;
  background-color: rgb(174, 0, 140);
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  /* max-width: 720px; */
  height: 400px;
  margin-top: 20px;
  margin: 0 20px 0 20px;
}

.section_box_imagen_decoration {
  display: flex;
  background-color: rgb(75, 0, 81);
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 400px;
}










/* Decoracion para moviles */


.button_decoration_movil {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 11px 23px;
  background-color: #b300cede;
  border: 2px solid #3f2060;
  border-radius: 30px;
  margin: 40px 0 40px 0;
  transition: all 0.2s ease;
}

.button_decoration_movil:active {
  background: #000;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}






/* style de portafolios css */





.container_portafolios {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  height: auto;
  /* margin: 20px auto; */
  padding: 30px 30px 30px 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}


.main_flex_grid {
  display: grid;
  max-width: 150vh;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  padding: 10px;
  justify-items: center;
  gap: 10px;
}


.one {
  background-color: rgba(185, 0, 175, 0.778);
  color: #fff;
}

.two {
  background-color: rgba(185, 0, 175, 0.778);
  color: #fff;
}

.three {
  background-color: rgba(185, 0, 175, 0.778);
  color: #fff;
}

.four {
  background-color: rgba(185, 0, 175, 0.778);
  color: #fff;
}




@media (max-width: 1090px) {
  .container {
    width: 90%;
    padding: 20px;
    margin: 30px auto;
  }


  .contair_list {
    width: 90%;
    padding: 45px;
  }

  .container_portafolios {
    width: 75%;
    padding: 20px;
    margin: 30px auto;
  }

  .logo_mark img {
    display: none;
  }

  .image_select_view {
    display: none;
  }

  .image_decoration_view {
    display: none;
  }

  .seccion3 {
    display: none;
  }

  .seccion2 {
    display: none;
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.2em;
  }

  .container_game {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }


  p,
  li,
  a {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    margin-bottom: 30px;
    gap: 30px;
  }

  footer {
    font-size: 2px;
    margin-right: auto;
  }

  .bandcamp-player {
    padding: 20px;
    /* Reducir padding en pantallas pequeñas */
  }

  .bandcamp-iframe {
    max-width: 100%;
    /* Hacer que el iframe ocupe el 100% del contenedor */
    height: 100px;
    /* Reducir la altura de los iframes en pantallas pequeñas */
  }

  .button_decoration_links_direct {
    text-decoration: solid;
    padding: 0;
    background-color: none;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    transition: all 0.2s ease;
  }


  .button_decoration_links_direct:hover {
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    transform: scale(1.07);
  }



  .button_decoration {
    font-size: 17px;
    padding: 16px 28px;
    background-color: #b300cede;
    border: 2px solid #3f2060;
    /* border-radius: 30px 0 0 30px; */
    border: 20px;
    margin: 40px 0 40px 0;
    transition: all 0.2s ease;
  }

  .button_decoration:hover {
    background: #000;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    transform: scale(1.07);
  }



  footer {
    font-size: 2px;
    margin-right: auto;
  }


  .profile-img {
    width: 120px;
    height: 120px;
  }
}